@@ -2,6 +2,7 @@ div.container {
    width: 800px;
    height: 530px;
    position: relative;
    margin: 20px;
}

div.image {
@@ -16,13 +17,11 @@ div.image {

div.before {
    width: 50%;
    background-image: url("../img/before.jpg");
    z-index: 2;
}

div.after {
    width: 100%;
    background-image: url("../img/after.jpg");
    z-index: 1;
}
